.App {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
}

select {
  background-color: #60078c;
  width: 26%;
  height: 39px;
  padding-left: 12px;
  font-size: 23px;
  color: white;
  border-radius: 1em;
}
img {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 1em;
}
